body {
  margin: 0;
  font-family: "Inter", sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.navbar {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 1rem;
}
.navbar-center .nav-links {
  list-style-type: none;
  display: flex;
  margin: 0;
  padding: 0;
  text-align: center;
  justify-content: space-around;
}
.navbar-center .nav-links li {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 0.75rem;
}
.navbar-center .nav-links li .nav-icon {
  margin-bottom: 0.5rem;
  color: #494949;
}
.navbar-center .nav-links li a {
  color: #757575;
  font-weight: 600;
  text-decoration: none;
}
.navbar-center .nav-links li img {
  margin-bottom: 0.5rem;
}
.navbar-center .nav-links li .account-button {
  background: none;
  border: none;
  color: #757575;
  text-decoration: none;
  cursor: pointer;
  font-weight: 600;
  font-family: inherit;
  padding: 0;
  font-size: inherit;
  line-height: inherit;
  transition: color 0.3s;
}

.categories-title {
  text-align: center;
  font-weight: 600;
  color: #494949;
}

.categories-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}
.categories-container .MuiCard-root {
  flex: 0 0 calc(50% - 1.25rem);
  margin: 0.375rem;
}
.categories-container .category-card {
  background: #B7DFF5;
  padding: 0.625rem;
  border-radius: 0.625rem;
  border: 0.125rem solid white;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
}
.categories-container .category-image {
  height: auto;
  border-radius: 0.625rem;
  border: 0.125rem solid white;
}
.categories-container h3 {
  color: #494949;
  font-size: 1.375rem;
  margin: 0 0 0.8125rem;
  font-weight: 400;
}

.no-undies {
  text-decoration: none;
  color: inherit;
}

p.user-address {
  display: block;
  color: #494949;
  margin: 1rem 0;
  padding-left: 1rem;
}

.Category-items-container,
.items-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}
.Category-items-container .Category-items-title,
.items-container .Category-items-title {
  text-align: center;
  font-weight: 600;
  color: #494949;
}
.Category-items-container .MuiCard-root,
.items-container .MuiCard-root {
  flex: 0 0 calc(50% - 1.25rem);
  margin: 0.375rem;
}
.Category-items-container .item-image,
.items-container .item-image {
  height: auto;
  border-radius: 0.625rem;
  border: 0.125rem solid white;
}
.Category-items-container h3.item-header,
.Category-items-container p,
.items-container h3.item-header,
.items-container p {
  color: #494949;
  text-decoration: none;
}
.Category-items-container h3.item-header,
.items-container h3.item-header {
  font-weight: 700;
}

.rating-container {
  display: flex;
  align-items: center;
  color: #494949;
}

.star-icon {
  margin-right: 0.2rem;
  color: #C9D7A4;
  height: 1.35rem;
}

.renter-rating {
  font-size: 1rem;
  line-height: 1;
}

h2.welcome {
  display: block;
  color: #494949;
  margin: 1rem 0;
  padding-left: 1rem;
}

button {
  display: flex;
  align-items: center;
  justify-content: center;
  color: #494949;
  padding: 0.5rem 1rem;
  font-family: "Inter", sans-serif;
  width: 50%;
  border: none;
  cursor: pointer;
  transition: background-color 0.3s;
  border-radius: 0.625rem;
}
button.nearby-items-button {
  max-width: 18.75rem;
  background-color: #C9D7A4;
  margin: 1rem 1rem;
}
button.login-button {
  max-width: 9.375rem;
  background-color: #f0f0f0;
  margin: 1rem 1rem;
}
button.rent-button {
  background-color: #C9D7A4;
}

.item-details-container {
  display: flex; /* Optional, if you want to further control inner content */
  justify-content: center;
  align-items: center; /* Center inner content horizontally */
  flex-direction: column; /* Stack items vertically if needed */
  padding: 20px;
}
.item-details-container .item-details-card {
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1); /* Optional: add a subtle shadow */
  border-radius: 0.625rem; /* Rounded corners for the card */
}
.item-details-container .item-image {
  height: auto;
}
.item-details-container .item-header-container {
  display: flex;
  justify-content: space-between; /* Space between the two items */
  align-items: center; /* Center vertically */
  padding-bottom: 0.5rem;
}
.item-details-container .item-name {
  margin: 0; /* Remove default margin */
  color: #494949;
  font-weight: 600;
}
.item-details-container .item-price {
  margin: 0; /* Remove default margin */
  font-weight: 800;
}
.item-details-container .description-availability-container {
  display: flex;
  justify-content: space-between; /* Space between the two items */
  align-items: center; /* Center vertically */
}
.item-details-container .item-description,
.item-details-container .item-availability {
  margin: 0; /* Remove default margin */
  color: #757575;
}
.item-details-container .renter-container {
  display: flex;
  flex-direction: column; /* Stack items vertically */
  align-items: flex-start; /* Align items to the left */
  color: #494949;
  padding-top: 3rem;
}
.item-details-container .renter-container .renter-info {
  display: flex;
  justify-content: space-between; /* Align items to the ends */
  align-items: center; /* Center items vertically */
  width: 100%; /* Ensure it takes the full width of the parent container */
}
.item-details-container .renter-container .renter-info .renter-full-name {
  margin: 0; /* Remove default margin */
}
.item-details-container .renter-container .renter-info .chat-icon {
  margin-left: auto; /* Pushes the chat icon to the right */
  color: #757575;
}
.item-details-container .renter-container .rating-container {
  display: flex; /* Keep this as flex for horizontal alignment of stars and rating */
  align-items: center;
  color: #494949;
  padding-top: 0.5rem; /* Space between renter info and rating */
}
.item-details-container .renter-container .rating-container .star-icon {
  margin-right: 0.2rem; /* Space between star icon and rating */
  color: #C9D7A4;
  height: 1rem;
}
.item-details-container .renter-container .rating-container .renter-rating {
  font-size: 0.75rem;
  line-height: 1;
  margin: 0; /* Ensure no extra margin */
  margin-left: 0.3rem; /* Space between the star icon and the rating */
}
.item-details-container .rent-button-container {
  display: flex;
  justify-content: center;
  width: 100%;
}
.item-details-container .rent-button-container button {
  margin-top: 1rem;
  font-weight: 600;
  width: 18.75rem;
  height: 2.1875rem;
}

/*# sourceMappingURL=index.css.map */
