body {
  margin: 0;
  font-family: "Inter", sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New', monospace;
}

.navbar {
  display: flex;
  justify-content: center; // Centered as per your original code
  align-items: center;
  background-color: #333;
  color: #fff;
  padding: 1rem;

  &-center { // Using a BEM-like approach
    .nav-links {
      list-style-type: none;
      display: flex;
      margin: 0;
      padding: 0;
      text-align: center;

      li {
        margin-right: 1rem;
        text-align: center;

        a {
          color: #fff;
          text-decoration: none;
        }
      }
    }
  }
}
